  <nav class="noprint">
        <ul class="nav" id="menu">

            
             @if (Request.RawUrl.Contains("/Deal"))
             {
                <text>
                <li class="active">
                </text>
             }
             else{
                <text>
                <li>
                </text>
             }
            @Html.ActionLink("Deals", "Index", "Deal")</li>
            <li>@Html.ActionLink("( + )", "Create", "Deal") </li>
        </ul>
        <ul class="nav" id="adminmenu">
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Admin</a>
              <ul class="dropdown-menu">
                <li><a href="@Url.Action("Index", "Deal")">Edit Deals</a></li>
                <li><a href="@Url.Action("Index", "Category")">Edit Categories</a></li>
              </ul>
            </li>
        </ul>

      
   </nav>